
//Controllers

//UserController
1.) Post/ Login 
2.) Get/ UserDetails
3.) Post/ Register 

//Category
1.) Get/ Categories
2.) Post/ Categories


//Plant
1.) Get/ Plant
2.) Post/ Plant
3.) Get/ PlantsByCategory

//PlantImage
1.) Post/ PlantImage
2.) Delete/ PlantImage
3.) Patch/ PlantImage
4.) Get/ PlantImages


//Order
1.) Patch/ OrderStatus
2.) Get/ OrderItems
3.) Post/ Order

//OrderItem
1.) Post/ OrderItem
2.) Delete/ OrderItem
3.) Patch/ quantity


TODO
1.)Cover Image for plant card